body {
  background-image: url("https://images3.alphacoders.com/114/114869.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: sans-serif;
}

nav {
  background-color: rgba(14, 11, 11, 0.5);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.container li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    margin: auto;
}
  
li a:hover {
    background-color: #ddd;
}


.carousel {
  margin: 50px auto;
  max-width: 400px;
}


.project-card {
  max-width: 100%;
  margin: auto;
  background-color: black;
  padding: 80px;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.project-card img {
  max-height: 220px;
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
}


.title {
  color: white;
  text-decoration: none;
}


.container {
  background-image: url("https://images3.alphacoders.com/114/114869.jpg");
  background-size: cover;
  backdrop-filter: blur(10px);
}


@media only screen and (max-width: 600px) {
  body {
    background-color: #34343d;
  }

  .carousel {
    max-width: 90%;
  }

  .project-card img {
    max-height: 180px;
  }
}
